@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

.input-area {
  display:flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.title-area {
  font-size: 13px;
  color: #153D12;
  margin-left: 0.1rem;
  margin-bottom: 0.3rem;
  font-weight: 900;
}



.id-area {
  display: block;
  border: none;
  border-bottom: 0.1rem solid #153D12;
  height: 2.0rem;
  width: 20.0rem;
  font-size: 0.8rem;
  background-color: #F4F4F4;
  transition: all 0.5s;
}

.id-area::placeholder {
  color: #153D12;
}

.id-area:hover {
  cursor: pointer;
}

.id-area:focus {
  outline-width: 0;
  border-bottom: 0.15rem solid #153B11;
  font-weight: 900;
}