div .detail-hide {
  padding-top: 0px;
  padding-bottom: 0px;
  display: none;
}

div .info-true {
  margin-bottom: 0px;
  padding-bottom: 7px;
}

#detail-address {
  width: 470px;
  border: solid #8D981E 2px;
  background-color: #1D5213;
}

.blank-area {
  width: 140px;
}

.information-guide-area {
  display: flex;
  flex-direction: row;
}

.information-guide {
  margin-left: 50px;
  margin-bottom: 15px;
  font-size: 13px;
  color: #4DC566;
}