#gender-selector-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 20px;
  height: 50px;
  width: 350px;
  border: solid #164C16 2px;
  background-color: #F4F4F4;
  border-radius: 5px;
}