@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap');

#banner-content-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2vw;
}

#banner-img {
  height: 15vw;
  width: 70vw;
}

#banner-text {
  font-family: 'Gowun Dodum', sans-serif;
  color: #15320D;
  padding: 0vw 5vw 3vw 5vw;
  font-size: inherit;
}

#banner-start-button {
  position: relative;
  height: 4vw;
  width: 20vw;
  font-weight: 900;
  font-size: 1.3vw;
  font-family: 'Nanum Gothic Coding', monospace;
  border-radius: 5px;
  border: 2px solid #3DB164;
  background-color: #3DB164;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: transform 0.7s;
}

#banner-start-button:hover {
  transform: translateY(-5px);
  cursor: pointer;
}