@media screen and (min-width: 1450px) {
    .main .__content {
        max-width: 1500px;
    }
}

@media screen and (max-width: 1500px) {
    .main {
        max-height: 500px;
    }

    .__notebook {
        max-height: 450px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


#banner {
    background-color: #376F46;
    font-size: 16px;
}

#banner-layout-container {
    padding-top: 10vw;
    padding-bottom: 10vw;
}

#banner-layout-side-margin {
    margin-right: 10vw;
    margin-left: 10vw;
}