@media screen and (min-width: 1450px) {
  #symbol-image-area {
    max-width: 1500px;
  }
}

@media screen and (max-width: 1500px) {
  main{
      max-height: 500px;
  }
  div.symbol-image-block {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media screen and (max-width: 1050px) {
  main {
    max-height: 400px;
  }
}

@media screen and (max-width: 870px) {
  main {
    max-height: 350px;
  }

  div.symbol-image-block {
    margin-left: 100px;
    margin-right: 100px;
  }
}

main {
  background-color: #347F39;
  height: 600px;
  box-sizing: border-box;
  padding: 60px 0px 60px 0px;
}

#symbol-text-area {
  display: block;
  height: 80px;
  width: 100%;
  background-color: #2E6926;
}

.symbol-text-block {
  display: flex;
  flex-direction: row;
  height: inherit;
}


#symbol-image-area {
  display: block;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: inherit;
}

.symbol-image-block {
  margin: 0px 100px 0px 100px;
  border-radius: 100px;
  height: inherit;
  background-color: white;
  box-sizing: inherit;
}

