@media screen and (min-width: 1450px) {
  #symbol-image-area {
    max-width: 1500px;
  }
}

@media screen and (max-width: 1500px) {
  div.explain-image-block {
    height: 500px;
  }
}

@media screen and (max-width: 870px) {
  div .explain-image-block {
    height: 800px;
    flex-direction: column;
    align-items: center;
    align-items: center;
  }
}

.explain-image-block {
  display: flex;
  height: 600px;
  width: 100%;
  flex-direction: row;
}

#explain-image {
  height: inherit;
  width: 60%;
}

#explain-content {
  display: flex;
  width: 40%;
  flex-direction: column;
}