#search-form-container-padding {
  background-color: #F4F4F4;
  padding-bottom: 5vw;
  padding-top: 5vw;
}

#search-form-container-margin {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#search-form-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid #275032 2px;
  border-radius: 5px;
  background-color: #376F46;
  padding-bottom: 2vw;
  padding-top: 2vw;
}

