@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

#form-main {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1100px) {
  div #search-form-area {
    height: 530px;
  }
}

@media screen and (max-width: 950px) {
  div #search-form-area {
    height: 450px;
  }
}

@media screen and (max-width: 870px) {
  div #form-area-padding {
    flex-direction: column;
  }

  div #search-form-area {
    height: 800px;
  }

  #form-image {
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  #form-main {
    margin-left: auto;
    margin-right: auto;
  }


}

#search-form-area {
  box-sizing: border-box;
  height: 550px;
  margin-left: 100px;
  margin-right: 100px;
}

#form-area-padding {
  box-sizing: inherit;
  display: flex;
  height: 100%;
  padding: 50px 0px 50px 0px;
  background-repeat: no-repeat;
  flex-direction: row;
  justify-content: space-around;
}


#form-submit-button {
  display: block;
  padding: 10px 30px 10px 30px;
  border: 2px solid #A3A3A3;
  border-radius: 5px;
  background-color: #337542;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Gowun Dodum', sans-serif;
  color: white;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;;
  transition: all .9s;
}

#form-submit-button:hover {
  box-shadow: #A3A3A3 0px 1px 2px, #A3A3A3 0px 1px 2px;
}