@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

.tbody-item-block {
  display: flex;
  padding: 15px 0px 15px 0px;
  overflow: hidden;
  border-bottom: 3px solid #634B17;
}

.tbody-item-size {
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
  font-family: 'Gowun Dodum', sans-serif;
  color: white;
}