@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');


#table-body-thead-area {
  display: flex;
  background-color: #795B1C;
  border-bottom: 3px solid #493B18;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-family: 'Gowun Dodum', sans-serif;
  width: 100%;
}

.thead-item-size {
  width: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}